http:
  services:
    omeka-s:
      loadBalancer:
        servers:
          - url: "http://omeka-s:80"
  middlewares:
  {{- if eq (env "URI_SCHEME") "https" }}
    omeka-s-https-redirect:
      redirectScheme:
        scheme: https
  {{- end }}
  routers:
    omeka-s-web:
      rule: 'Host(`{{ env "DOMAIN" | default "localhost" }}`)'
      entryPoints:
        - web
      {{- if eq (env "URI_SCHEME") "https" }}
      middlewares:
        - omeka-s-https-redirect
      {{- end }}
      service: omeka-s
  {{- if eq (env "URI_SCHEME") "https" }}
    omeka-s-websecure:
      rule: 'Host(`{{ env "DOMAIN" }}`)'
      entryPoints:
        - websecure
      service: omeka-s
      tls:
        certResolver: letsencrypt
  {{- end }}
